h10 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    background-color: transparent;
    font-style: normal;
    padding: 10px;
    top: 10%;
    left: 25%;
    font-size: 40px;
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
    margin-top: 20px;
    margin-left: 35%;
}

.bike-list-container {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    width: 80%;
    height: 300px;
    min-height: 200px; 
    position: absolute; 
    top: 20%;
    left: 10%;
    background-color: transparent;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    border-color: transparent;
    transition: box-shadow 0.3s ease;
}

.bike-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: #eee;

    border-radius: 8px; 
}
.bike-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
      grid-row-gap:4%;
}

.bike-card {
    width: 100%;
    height: 120%;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.bike-item {
    justify-content: space-between;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    height: 40px;
    border-bottom: 1px solid BLACK;
    color: black;
}

.bike-item-button, .btn.btn-secondary, .edit-button{
    display: flow-root;
    align-items: center;
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
.bike-item-button2 {
    display: table-cell;
    align-items: center;
    padding: 12px 25px;
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
    


.edit-button {
    background-color: gray; 
}



.custom-button17 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2vw;
    color: #333;
    letter-spacing: 2vw;
    left: -30vw;
    top: -1vw;
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.custom-button18 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2vw;
    color: #333;
    letter-spacing: 2vw;
    left: -30vw;
    top: -1vw;
    width: 100vw;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.bike-list-container {
    width: 100%;
    left: 0%;
    height: auto;
    min-height: 3000vw;
    background-color: gray;
}


@media (max-width: 820px) {
    h10 {
        width: 90%; 
        top: 10%; 
        left: 5%; 
        font-size: 16px; 
    }
    .bike-list-container {
        width: 90%; 
        top: 10%; 
        left: 5%; 
        font-size: 16px; 
    }

    .bike-grid {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); 
        gap: 10px; 
    }

    .bike-card {
        height: auto; 
        width: 90%;
        margin-left: 5%;
    }
    .bike-image {
        height: auto;

    }
    .bike-item {
        font-size: 14px; 
    }
    .bike-list-container {
        width: 100%;
        left: 0%;
        height: auto;
        min-height: 3000vw;
        background-color: gray;
    }
}

@media (max-width: 480px) {
    .custom-button17, .custom-button18 {
        font-size: 17px; 
        padding: 20px 11px; 
        
    }
    .bike-list-container {
        background-color: gray;
        left: 0%;
        width: 100%;
        margin-top: 10%;
        height: auto;
        min-height: 150px;
        font-size: 14px;
    }

    .bike-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .bike-card {
        height: auto;
        width: 90%;
        margin-left: 5%;
        
    }

    .bike-image {
        height: 250px;

       
    }

    .bike-item {
        font-size: 12px;
        height: auto;
    }
}