.dashboard-container {
    padding: 10px;

}


.role {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    position: absolute;
    font-style: normal;
    padding: 10px;
    top: 20%;
    left: 9%;
    font-size: 40vw;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: grid;
    gap: 60px;
    margin-top: 20px;
    margin-left: 35%;
    border-bottom: 2px solid black;
    border-color: white;
}

.user-reservations {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    position: absolute;
    font-style: normal;
    padding: 10px;
    top: 30%;
    left: 2%;
    font-size: 40px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: grid;
    gap: 60px;
    margin-top: 20px;
    margin-left: 35%;
    border-bottom: 2px solid black;
}

.username1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    position: absolute;
    font-style: normal;
    top: 10%;
    left: 20%;
    font-size: 5vw;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.tile-container {
    position: absolute;
    top: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    left: 30%;
}

.tile {
    background-color: grey;
    flex: 1 1 200px;
    min-width: 200px;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile-link {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    top: 4%;
    left: 20%;
    font-size: 1rem;
    cursor: pointer;
    display: block;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.bike2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: white;
    font-style: normal;
    font-size: 1.7vw;
    position: absolute;
    top: 1vw;
    letter-spacing: 1vw;
    left: 20vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}



.bikes2-info-container {
    position: absolute;
    top: 60%;
    color: white;
    text-align: center;
    padding: 5vw 1vw;
    background-color: #333;
    border-radius: 10px;
}

.bike2-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: black;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
}

.bike2-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.bike2-card {
    background-color: darkgrey;
    color: white;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .bike2-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    }

    .bike2-card h3 {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: white;
    }

    .bike2-card p {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        color: white;
    }

h6 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-size: 30px;
    transition: box-shadow 0.3s ease;
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    font-size: 30px;
    transition: box-shadow 0.3s ease;
}

@media (max-width: 1048px) {
    .username1 {
        font-size: 2rem;
        top: 15%;
    }

    .tile {
        background-color: grey;
        flex: 1 1 20px;
        min-width: 50px;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .tile-link {
        font-size: 0.9rem;
    }

    .bike2-title {
        font-size: 1rem;
    }

}


@media (max-width: 480px) {
    .username1 {
        font-size: 2rem;
        top: 22%;

        
    }
    .tile-container {
        position: absolute;
        top: 30%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        left: 0%;
    }
    .tile-link {
        font-size: 0.9rem;
    }

    .bike2-title {
        font-size: 1rem;
    }
}